{% macro render_field(field) -%}
     <div class="form-group row {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
		<label for="{{ field.id }}" class="col-4 col-form-label">{{ field.label }}</label>
		<div class="col-8">
			{{ field(class_='form-control', **kwargs) }}
			{% if field.errors %}
				{% for e in field.errors %}
					<p class="help-block">{{ e }}</p>
				{% endfor %}
			{% endif %}
		</div>
    </div>
{%- endmacro %}
