{% extends "layout.html" %}

{% block title %}{{ matricule }} - Résumé Global des Heures Travaillées{% endblock %}
{% block content %}

<h1>{{ matricule }} - Résumé Global des Heures Travaillées</h1>
<div class="row">
	{% if summary %}
		<ul>
		{% for month, hours in summary.items() %}
			{% if hours > 0 %}
				<li><a href="/{{ matricule }}/overview/{{ month }}">{{ month }}</a>: {{ hours }} heures</li>
			{% endif %}
		{% endfor %}
		<ul>
	{% endif %}
</div>
{% endblock %}
