{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block title %} Feuille De Temps - Accueil {% endblock %}

{% block content %}
	<div class="row align-items-center">
		<div class="col-xs-12 text-center">
			<h1>Feuille De Temps</h1>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-sm-offset-2 col-sm-8">
			<h2>Entrez votre matricule pour accéder à vos heures</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<form method="post">
				{{ render_field(form.matricule) }}
				<input type="submit" class="btn btn-success" value="Aller à ma page">
			</form>
		</div>
	</div>
{% endblock %}
