<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<script src="/static/javascript/scripts.js"></script>
	</head>
	<body>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>

