{% extends "layout.html" %}

{% block title %}{{ matricule }} - Résumé pour le {{ month_info.month }}{% endblock %}
{% block content %}

<h1> Résumé pour le {{ month_info.month }}</h1>
<div class="row">
	<table class="table table-bordered">
		<thead>
			<th>Lundi</th>
			<th>Mardi</th>
			<th>Mercredi</th>
			<th>Jeudi</th>
			<th>Vendredi</th>
			<th>Samedi</th>
			<th>Dimanche</th>
		</thead>
		<tbody>
			<tr>
			{% for _ in range(month_info.first_day) %}
				<td></td>
			{% endfor %}
			{% for date, hours in month_info.summary.items() %}
				<td><a href="/{{ matricule }}/{{ date }}">
					<p>{{ date }}</p>
				</a>
				{% if hours > 0 %}
					<p>Heures Travaillées: {{ hours }}</p>
				{% endif %}
				</td>
				{% if (loop.index + month_info.first_day) % 7 == 0 %}
					 </tr><tr>
				{% endif %}
			{% endfor %}
			{% set calendar_days_remaining = 7 - (month_info.num_days + month_info.first_day) % 7 %}
			{% for _ in range(calendar_days_remaining if calendar_days_remaining != 7 else 0) %}
				<td></td>
			{% endfor %}
			</tr>
		</tbody>
	</table>
</div>
<div class="row mt-3">
	<a class="btn btn-info" href="/{{ matricule }}">Aller au récapitulatif global de {{ matricule }}</a>
</div>
<div class="row mt-3">
	<div class="col-sm-4">
		<a class="btn btn-primary" href="/{{ matricule }}/overview/{{ month_info.last_month }}">Mois précédent</a>
	</div>
	<div class="col-sm-offset-4 col-sm-4">
		<a class="float-right btn btn-primary" href="/{{ matricule }}/overview/{{ month_info.next_month }}">Mois suivant</a>
	</div>
</div>
{% endblock %}
