{% from "_formhelpers.html" import render_field %}

{% extends "layout.html" %}

{% block title %}{{ matricule }} - Heures pour le {{ date.today }}{% endblock %}

{% block content %}

<div class="row">
	<h1>{{ date.today }}: Heures Travaillées par {{ matricule }}</h1>
</div>
<div class="row">
	{% if hours %}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Code de projet</th>
				<th>Nombre d'heures</th>
			</tr>
		</thead>
		<tbody>
		{% for hour in hours %}
			<tr>
				<td>{{ hour[2] }}</td>
				<td>{{ hour[4] }}</td>
				<td><button class="btn btn-primary" onclick="update_time('{{ hour[2] }}', {{ hour[4] }})")>Modifier</button></td>
				<td>
					<form action="/{{ hour[0] }}/delete" method="post">
						<input class="btn btn-danger" type="submit" value="Supprimer">
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
<div class="row">
	<h2>Ajouter ou Modifier des Heures</h2>
</div>
<div class="row">
	<form method="post" id="hour_form">
		{{ render_field(form.project) }}
		{{ render_field(form.hours) }}
		<input type="submit" class="btn btn-success" value="Envoyer">
	</form>
</div>
<div class="row mt-3">
	<a class="btn btn-info" href="/{{ matricule }}">Aller au récapitulatif global de {{ matricule }}</a>
</div>
<div class="row mt-3">
	<a class="btn btn-info" href="/{{ matricule }}/overview/{{ date.today[:-3] }}">Aller au récapitulatif de ce mois de {{ matricule }}</a>
</div>
<div class="row mt-3">
	<div class="col-sm-4">
		<a class="btn btn-primary" href="/{{ matricule }}/{{ date.yesterday }}">Jour précédent</a>
	</div>
	<div class="col-sm-offset-4 col-sm-4">
		<a class="float-right btn btn-primary" href="/{{ matricule }}/{{ date.tomorrow }}">Jour suivant</a>
	</div>
</div>

{% endblock %}
